html, body, footer {
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

.board-parent {
  width: 460px;
  margin: 0px;
}

#myBoard {
  margin-left: 10px;
  margin-top: 0px;
  width: 440px;
}

.left-box {
  flex: 1;
  margin: 35px;
}

.right-boxes {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px;
}

.box {
  flex: 1;
  margin: 0px;
  text-align: center;
}

.box-2 {
  margin: 24px;
  flex: 1;
  display: flex;
}

.img-1 {
border-radius: 50%; /* Adjust the value to control the roundness */
}

.fontClass {
  color: white;
}

.newsTag {
  text-decoration: none;
  color: #101010;
}

.newsTag:hover {
  text-decoration: underline; /* Underline the text when hovered */
  color: blue;
}

.form-control {
  margin-bottom: 4px;
}

.nameTag {
  font-size: larger;
  display: flex;
  justify-content: left;
  margin: 10px 35px;
}

.buttonStyle {
  width: 150px;
}

.bannerNews {
  justify-content: center;
  text-align: center;
  display: inline-block;
}

.mainDiv {
  margin-left: 35px;
}

.post {
  border-width: 1px;
  border-style: solid;
  border-color: darkgray;
  border-radius: 10px;
}
.pagination-container {
  position: fixed;
  bottom: 0;
  left: 110px;
  width: 100%;
  z-index: 999;
}

.sticky-sidebar {
  position: sticky;
  top: 0;
  height: 100vh;       /* calc(116vh - 70px);  Adjust the height as needed */
  overflow: auto; /* Add a scrollbar if the content overflows */
}

.threadLink {
  border: 1px solid darkgrey; /* Set the border width and color */
  border-radius: 10px;   /* Set the border-radius for rounded corners */
  margin: 10px 0px; 
  padding: 12px 20px; 
  width: 85%;
}

.articleContainer {
  min-width: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add spacing between each article */
  border: 1px solid darkgrey; /* Set the border width and color */
  border-radius: 10px;   /* Set the border-radius for rounded corners */
  margin: 10px 0px; 
  padding: 12px 20px; 
}

.imageContainer {
  max-width: 300px;
  height: auto;
  width: auto;
  flex: 0 0 auto; /* Fix the width of the image container */
  margin-right: 10px; /* Add spacing between image and content */
}

.contentContainer {
  min-width: 200px;
  flex: 1; /* Allow the content to grow and take remaining space */
}

.playerLink {
  margin-bottom: 10px; /* Add spacing between each article */
  border: 1px solid darkgrey; /* Set the border width and color */
  border-radius: 10px;   /* Set the border-radius for rounded corners */
  margin: 4px 4px; 
  padding: 4px 4px; 
}

.leaderCard {
  display: flex;
  justify-content: space-between;
}
