{% extends "chess/layout.html" %}

{% block body %}
    <div class="mainDiv">

        <a href="{% url 'forums' %}"><button type="button" style="margin: 16px 0px;" class="btn btn-dark">&larr;</button></a>

        <h5>Thread: {{thread.title }} </h5>
        <div class="threadLink">
            <div style="display: flex; justify-content: space-between;">
                <p style="font-size: smaller; margin: 2px;"> Category: {{ thread.category.title }} - Posted by {{ thread.created_by }}</p>
                <p style="font-size: smaller; margin: 2px; text-align: right;"> Replies: {{ thread.post_count }}</p>
            </div>
            <h6>{{ thread.title }}</a> </h6>
            <p style="margin: 6px 0px;"> {{ thread.description }} </p>
            <p style="font-size: smaller; margin: 0px;"> {{ thread.created_at }}</p>
        </div>
        
        <div id="newButton">
            <button onclick="changeDisplay()" style="margin-bottom: 10px;" type="button" class="buttonStyle btn btn-dark">New Post</button>
        </div>

        <div style="display:none;" id="newForm">
            <h5>New Post</h5>
            <form action="{% url 'new_post' id=thread.id %}" method="post">
                {% csrf_token %}
                <textarea name="content" class="form-control" placeholder="Discussion..." style="height: 160px;"></textarea>
                <input style="margin-top: 4px;" type="submit" class="btn btn-dark" value="Post"/>
                <button style="margin-top: 4px;" type="button" onclick="changeDisplayCancel()" class="btn btn-dark"> Cancel Post </button>
            </form>
        </div>

        <div id="threadsDisplay">
        </div>

        <div>
            {% for post in posts %}
            <div class="threadLink">
                <p style="margin: 6px 0px; font-size: smaller;"><strong> {{ post.created_by }}</strong></p>
                <p style="margin: 6px 0px;"> {{ post.content }} </p>
                
                <div style="display: flex; justify-content: space-between;">
                    <p style="font-size: smaller; margin: 0px;"> {{ post.created_at }}</p>
                    
                    {% if request.user == post.created_by %}
                        <a href="{% url 'delete_post' id=post.id %}"><p style="font-size: smaller; margin: 2px; text-align: right;"> Delete </p></a>
                    {% endif %}
                
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}