{% extends "chess/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="nameTag">
            <h5><span class="mx-1">User: {{ request.user }}</span></h5>
            <img src="https://t3.ftcdn.net/jpg/05/97/88/98/360_F_597889804_H18u5xomXqceVKiaZ6uf8IOG7g4pJmgv.jpg" alt="profile" width="30" height="30" class="rounded-circle">
        </div>
    {% endif %}
    <div class="mainDiv">
        <h1>Forum Hub</h1>

        <div  id="newButton">
            <button onclick="changeDisplay()" style="margin-bottom: 10px;" type="button" class="buttonStyle btn btn-dark">New Thread</button>
        </div>

        <div style="padding-top: 10px; display: none;" id="newForm" class="newForm">

            <h5>New Thread</h5>
            <form action="{% url 'new_thread' %}" method="post">
                {% csrf_token %}
                
                <select style="margin: 5px 0px;" id="dropdown1" name="dropdown1">
                    <option value="" disabled selected>Categories</option>
                    {% for category in categories%}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
                
                <textarea name="thread_title" class="form-control" placeholder="Title..." style="height: 10px;"></textarea>
                <textarea name="thread_description" class="form-control" placeholder="Discussion..." style="height: 160px;"></textarea>
                <input style="margin-top: 4px;" type="submit" class="btn btn-dark" value="Post Thread"/>
                <button style="margin-top: 4px;" type="button" onclick="changeDisplayCancel()" class="btn btn-dark"> Cancel Thread </button>
            </form>
            
        </div>

        <div id="threadsDisplay">
            <select style="margin: 5px 0px;" id="dropdown2" name="dropdown2">
                <option value="" disabled selected>Categories</option>
                {% for category in categories%}
                    <option value="{{ category.short_title }}">{{ category }}</option>
                {% endfor %}
            </select>
            {% for thread in threads %}
                <section class="{{ thread.category.short_title }}">
                    <div class="threadLink">
                            <div style="display: flex; justify-content: space-between;">
                                <p style="font-size: smaller; margin: 2px;"> Category: {{ thread.category.title }} - Posted by {{ thread.created_by }}</p>
                                <p style="font-size: smaller; margin: 2px; text-align: right;"> Replies: {{ thread.post_count }}</p>
                            </div>
                            <h6> <a href="{% url 'forum_thread' id=thread.id %}">{{ thread.title }}</a> </h6>
                            <p style="margin: 6px 0px;"> {{ thread.description }} </p>
                            
                            <div style="display: flex; justify-content: space-between;">
                                <p style="font-size: smaller; margin: 0px;"> {{ thread.created_at }}</p>
                                
                                {% if request.user == thread.created_by %}
                                    <a href="{% url 'delete_thread' id=thread.id %}"><p style="font-size: smaller; margin: 2px; text-align: right;"> Delete </p></a>
                                {% endif %}
                            
                            </div>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock %}