{% extends "chess/layout.html" %}

{% block body %}

    <div class="row">
        <div style="width: 50px;" class="d-none d-lg-block col-lg-1">
        </div>

        <!-- Top Left -->
        <div class="col-12 col-lg-5">
            
            <strong class="d-none d-lg-block"><p style="font-size: 2em; font-weight: 600;">&nbsp;</p></strong>
            <strong><p style="font-size: 4em; font-weight: 1000; text-align: center;">TyChess.com</p></strong>
            <strong class="d-none d-lg-block"><p style="font-size: 2em; font-weight: 600;">&nbsp;</p></strong>
            <img style="border-radius: 20px;" class="img-fluid" alt="Responsive Image" src="https://t3.ftcdn.net/jpg/05/63/07/40/360_F_563074013_yvhM7L342BwGlTutkISiyZ5RFmBMGnaL.jpg">
        </div>

        <div style="width: 50px;" class="d-none d-lg-block col-lg-1">
        </div>

        <!-- Top Right -->
        <div class="d-none d-lg-block col-lg-5">
            <strong><p style="color:lightgray; font-size: 2em; font-weight: 10;">TyChess.com</p></strong>
            <img style="border-radius: 20px; transform: scaleX(-1); filter: invert(100%);" class="img-fluid" alt="Responsive Image" src="https://t3.ftcdn.net/jpg/05/63/07/40/360_F_563074013_yvhM7L342BwGlTutkISiyZ5RFmBMGnaL.jpg">
            <p></p>
            <br><strong><p style="text-align:center; font-size: 1em; font-weight: 500;">"Where every move is a story, every game a masterpiece, and every player a composer of strategic symphonies."</p></strong>
            <strong><p style="text-align:center; font-size: 1em; font-weight: 500;"> - GM Dominic Santini</p></strong>
        </div>

        <div style="width: 50px;" class="d-none d-lg-block col-lg-1">
        </div>

    </div>

{% endblock %}