{% extends "chess/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="nameTag">
            <h5><span class="mx-1">User: {{ request.user }}</span></h5>
            <img src="https://t3.ftcdn.net/jpg/05/97/88/98/360_F_597889804_H18u5xomXqceVKiaZ6uf8IOG7g4pJmgv.jpg" alt="profile" width="30" height="30" class="rounded-circle">
        </div>
    {% endif %}
    <div class="mainDiv">
        <h1>Leader Hub</h1>
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <div id="leaderboard1"></div>
              </div>
              <div class="col">
                <div id="leaderboard2"></div>
              </div>
              <div class="col">
                <div id="leaderboard3"></div>
              </div>
            </div>
        </div><br>

        <div style="border-width: 1px; border-style:solid; border-color: darkgray;"></div><br>

        <div class="container text-center">
            <div class="row">
              <div style="font-size: 90px; font-weight: 650;" class="col">
                <h1>Streaming</h1>
                <h1>Today</h1>
              </div>
              <div class="col">
                <div id="streaming"></div>
              </div>
              <div class="col">
                
              </div>
            </div>
        </div><br>

    </div>
    

    <script>
        getLeaders('live_rapid', 1)
        getLeaders('live_blitz', 2)
        getLeaders('live_bullet', 3)
        getStreamers()
    </script>

    
{% endblock %}