{% extends "chess/layout.html" %}

{% block body %}
    <div class="mainDiv">
      <h1>News Hub</h1>
      
      <div>
        {% for article in articles %}
        <div class="articleContainer">
          <div class="imageContainer">
            <img width="100%" src="{{ article.image_url }}">
          </div>
          <div class="contentContainer">
            <h4><a href="{{ article.link }}" target="_blank">{{ article.title }}</a></h4>
            <p style="font-size: smaller; margin: 10px 0px;">Posted by {{ article.author }}</p>
            <p style="margin: 6px 0px;">{{ article.preview }}</p>
            <p style="font-size: smaller; margin: 10px 0px;">{{ article.time }}</p>
          </div>
        </div>
        {% endfor %}
        
      </div>
    
    </div>
    
{% endblock %}