{% extends "chess/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="nameTag">
            <h5><span class="mx-1">User: {{ request.user }}</span></h5>
            <img src="https://t3.ftcdn.net/jpg/05/97/88/98/360_F_597889804_H18u5xomXqceVKiaZ6uf8IOG7g4pJmgv.jpg" alt="profile" width="30" height="30" class="rounded-circle">
        </div>
    {% endif %}

    <div class="row vh-86">

        <div class="col-12 col-lg-9">
            <div class="mx-auto" style="width: 60%;">
                <!-- Chessboard logic in chess_logic.js -->
                <div id="myBoard" style="width: 100%;"></div>
            </div>
        </div>

        <div style="text-align: center;" class="post col-12 col-lg-2 mx-auto">
            <h3>Choose a bot to face</h3>

            <!-- Buttons to select the bot to play -->
            <button id="easyBotBtn" style="margin: 5px 5px;" type="button" class= "btn btn-success w-85"> Easy Bot (Random) </button>
            <button id="mediumBotBtn" style="margin: 5px 5px;" type="button" class= "btn btn-success w-85"> Medium Bot (Minimax) </button>
            <button id="hardBotBtn" style="margin: 5px 5px;" type="button" class= "btn btn-success w-85"> Hard Bot (Stockfish) </button>
            
            <div> Current mode selected: </div>
            <strong><div id="modeSelected"></div></strong>
            
            <!-- Buttons that edit board -->
            <button id="showOrientationBtn">Show orientation in console</button>
            <button id="flipOrientationBtn">Flip orientation</button>
            <br />
            <button id="whiteOrientationBtn">White orientation</button>
            <button id="blackOrientationBtn">Black orientation</button>
        </div>

        <div class=" d-none d-lg-block col-lg-1">
        </div>
    </div> 

{% endblock %}